body {
  font-family: Arial, sans-serif;
  background-color: #8eaf4e;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
}
.container {
  background-color: white;
  margin-top: 30px;
  padding: 25px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
  text-align: center;
  color: #222;
  margin-bottom: 15px;
}
input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  padding: 10px 16px;
  margin: 8px 4px 4px 0;
  border: none;
  background-color: #349233;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #1f531e;
}

.tarefa {
  background-color: #f1f5f9;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border-left: 4px solid #278152;
}

.tarefa.feita {
  background-color: #d9fcd9;
  border-left-color: #28a745;
  opacity: 0.7;
  text-decoration: line-through;
}
hr {
  margin: 20px 0;
  border: none;
  border-top: 3px solid #f08c11;
}

p {
  margin: 4px 0;
}
